.chart {
  width: 10.6rem;
  height: 100%;
  line-height: 4.2rem;
  ul {
    width: 10.6rem;
    height: 15.2rem;
    top: 4.4rem;
    li {
      width: 100%;
      height: 4.4rem;
      line-height: 4.4rem;
    }
  }
}
.device {
  width: 30rem;
  height: 4.4rem;
  line-height: 4.4rem;
  ul {
    width: 30rem;
    height: 15.2rem;
    top: 4.3rem;
    li {
      width: 100%;
      height: 4.4rem;
      line-height: 4.4rem;
    }
  }
}
.addDevice{
  width: 54rem;
  height: 4.4rem;
  margin-top: .8rem;
  padding: 1rem 1.2rem;
  margin-bottom: 1.6rem;
  ul{
    width: 54rem;
    top: 4.4rem;
    li {
      width: 100%;
      height: 4.4rem;
      line-height: 4.4rem;
    }
  }
}
//Màu border khi click
.border {
  border: 1.5px solid var(--orange) !important;
}
.dropdown {
  background: var(--white);
  border: var(--boder);
  border-radius: 8px;
  font-size: 1.6rem;
  color: var(--gray);
  padding-left: 1.2rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  .icon {
    position: absolute;
    top: 0;
    right: 1.8rem;
    font-size: 2.4rem;
    color: var(--orange);
  }
  ul {
    position: absolute;
    box-shadow: 0px 0px 6px #e7e9f2;
    border-radius: 8px;
    left: 0;
    background: var(--white);
    padding: 8px 0;
    z-index: 10;
    li {
      cursor: pointer;
      padding-left: 1.2rem;
      &:hover {
        background: #fff2e7;
      }
    }
  }
}
