.Page{
    width: 100%;
    margin-top: 2.4rem;
   .pagination{
      display: flex;
      float: right;
      .disabled{
        pointer-events: none;
    }
       .pageItem{
        width: 3.2rem;
        height: 3.2rem;
        text-align: center;
        cursor: pointer;
        .pageLink{
            line-height: 3.2rem;
            font-size: 1.6rem;
            font-weight: 600;
            color: #A9A9B0;
        }
       }
       .active{
        background: var(--orange);
        border-radius: 4px;
        .activeLink{
            font-weight: 700;
            color: var(--white);
        }
    }
   }
}