.formGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #37474f;
  position: relative;
  input {
    width: 40rem;
    height: 4.4rem;
    border-radius: 0.8rem;
    border: var(--boder);
    padding: 0 1.2rem;
    margin: 0.2rem 0;
    color: #535261;
    font-size: 1.6rem;
    &:focus {
      border: 1.5px solid var(--orange);
    }
  }
  .secondary {
    width: 38.4rem;
  }
}
