@mixin sizeInput {
  padding: 10px 12px;
  margin-top: 0.8rem;
  height: 4.4rem;
  color: #535261;
}
@mixin font-size {
  label {
    font-size: 1.6rem;
    line-height: 2.4rem;
    span {
      color: var(--red);
    }
  }
}
@mixin service {
  margin-bottom: 1.2rem;
  @include font-size();
  input {
    width: 100%;
    @include sizeInput();
  }
}
@mixin device {
  margin-bottom: 1.6rem;
  @include font-size();
  input {
    width: 54rem;
    @include sizeInput();
  }
}
@mixin search {
  label {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #282739;
    font-weight: bold;
  }
  input {
    padding: 1rem 1.6rem 1rem 1.2rem;
    width: 100%;
    height: 4.4rem;
  }
}
.fisrt {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  line-height: 2.7rem;
  position: relative;
  color: #37474f;
  input {
    width: 40rem;
    height: 4.4rem;
    margin: 0.2rem 0;
    color: #535261;
    padding: 0 1.2rem;
  }
}
.secondary {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  line-height: 2.7rem;
  position: relative;
  color: #37474f;
  input {
    width: 38.4rem;
    height: 4.4rem;
    margin: 0.2rem 0;
    color: #535261;
    padding: 0 1.2rem;
  }
}
.third {
  label {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: #282739;
  }
  input {
    width: 30rem;
    height: 4.4rem;
    padding-left: 1.2rem;
    padding-right: 3rem;
  }
}
.addDevice {
  @include device();
}

.serviceAdd {
  width: 100%;
  @include font-size();
  input {
    width: 100%;
    @include sizeInput();
  }
}
.updateDevice {
  @include device();
}
.addService {
  @include service();
}
.serviceUpdate {
  width: 100%;
  height: 11.2rem;
  position: relative;
  @include font-size();
  textarea {
    width: 100%;
    height: 8rem;
    border: 1.5px solid #ffac6a;
    border-radius: 8px;
    padding: 0.8rem 1.6rem;
    outline: none;
    resize: none;
  }
  .list {
    position: absolute;
    top: 3.2rem;
    left: 1.6rem;
    display: flex;
    .item {
      background: #ffac6a;
      padding: 0.45rem 1.2rem 0.45rem 1.7rem;
      font-size: 1.4rem;
      line-height: 1.9rem;
      color: var(--white);
      border-radius: 9px;
      margin-right: 1.5rem;
      height: 2.8rem;
      span {
        padding-right: 1.5rem;
      }
    }
  }
}
.detailService {
  width: 20.6rem;
  margin-top: 0.4rem;
  @include search();
}
.listNumber {
  width: 24rem;
  @include search();
  label {
    margin-bottom: 0.4rem;
  }
}
.AddUpdateRole {
  width: 56rem;
  @include search();
  label {
    margin-bottom: 0.8rem;
    span {
      color: var(--red);
    }
  }
}
.formGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  input {
    border-radius: 0.8rem;
    border: var(--boder);
    font-size: 1.6rem;
    &:focus {
      border: 1.5px solid var(--orange);
    }
  }
  .border {
    border: 1.5px solid var(--red) !important;
  }
}
