.formGroup {
  width: 100%;
  height: 16.4rem;
  label {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #282739;
    display: block;
  }
  textarea {
    color: #535261;
    margin-top: 8px;
    width: 100%;
    height: 13.2rem;
    border-radius: 0.8rem;
    padding: 1rem 1.2rem;
    resize: none;
    outline: none;
    border: 1.5px solid #d4d4d7;
    &:hover {
      border: 1.5px solid var(--orange);
    }
  }
}
