.header {
  display: flex;
  justify-content: space-between;
  .title {
    h5 {
      font-size: 2rem;
      line-height: 3rem;
      color: #282739;
    }
    p {
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: #a9a9b0;
    }
  }
  .box {
    width: 18.4rem;
    height: 4.2rem;
    span {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 4.2rem;
      margin-right: 0.3rem;
    }
  }
}
