@mixin size {
  font-size: 2rem;
  line-height: 3rem;
}
.boxTitle {
  float: left;
  color: var(--orange);

  .primary {
    @include size();
  }
  .secondary {
    @include size();
  }
  span {
    margin: 0 1.54rem;
  }
}
