@mixin cancel {
  color: var(--orange);
  border: 1.5px solid var(--orange);
  margin-right: 2.4rem;
}
.btn {
  width: 16.2rem;
  height: 4rem;
  border-radius: 8px;
  padding: 1rem 2.4rem;
  cursor: pointer;
  filter: var(--drop-shadow);
  font-size: 1.6rem;
}

.primary {
  background: var(--orange);
  color: var(--white);
}
.cancel {
  @include cancel();
  background: transparent;
}
.cancelBg {
  @include cancel();
  background: #fff2e7;
}
.sizeDevice {
  width: 14.7rem;
  height: 4.8rem;
  margin-right: 3.2rem;
}
.sizeUpdateDevice {
  width: 11.5rem;
  height: 4.8rem;
  margin-right: 3.2rem;
}
