.breadcrumbs{
  height: 4rem;
  float: left;
  padding: 1rem 0;
  .breadcrumbs__item{
    display: inline-block;
    font-size: 2rem;
    line-height: 3rem;
    color: var(--dark-gray);
    font-weight: 700;
    &:not(:last-of-type)::after{
      content: '>';
      margin: 0 1.5rem;
    }
    .active{
      color: var(--orange);
    }
  }
}