.Popup {
  position: absolute;
  top: 8.8rem;
  right: 1rem;
  width: 36rem;
  height: 52.6rem;
  box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
  background: var(--white);
  z-index: 7;
  border-radius: 1rem;
  h3 {
    font-size: 2rem;
    width: 100%;
    color: var(--white);
    height: 4.8rem;
    padding: 1.4rem 0 1.4rem 2.4rem;
    background: var(--orange);
    text-align: left;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .content {
    height: 47.8rem;
    width: 100%;
    overflow-y: scroll;
    cursor: pointer;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: #ffc89b;
      border-radius: 4;
    }
    .items {
      height: 8rem;
      width: 100%;
      &:nth-child(6) {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
      .link {
        font-size: 1.6rem;
        width: calc(100% - 4rem);
        margin: 0 auto;
        height: 8rem;
        border-bottom: var(--boder);
        padding: 1.6rem 0 1.2rem 0;
        overflow: hidden;
        h6 {
          color: var(--orange);
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
        p {
          color: var(--gray);
          line-height: 2.4rem;
        }
      }
    }
  }
}
