.AddUpdateRole {
  margin-top: 0.8rem;
  .container {
    margin-top: 3.2rem;
    background: var(--white);
    width: 119.2rem;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
    height: 53.4rem;
    .rows {
      padding: 1.6rem 2.4rem 2.4rem 2.4rem;
      .formMain {
        padding-top: 1.2rem;
        display: flex;
        .left {
          width: 50%;
          margin-right: 2.4rem;
        }
        .right {
          width: 50%;
          label {
            font-size: 1.6rem;
            font-weight: 600;
            color: #282739;
            line-height: 2.4rem;
            span {
              color: var(--red);
            }
          }
          .box {
            width: 100%;
            height: 42rem;
            margin-top: 0.8rem;
            background: #fff2e7;
            border-radius: 8px;
            .rows {
              padding: 1.6rem 2.4rem;
              width: 100%;
              height: 100%;
              overflow-y: scroll;
              &::-webkit-scrollbar {
                width: 4px;
              }
              &::-webkit-scrollbar-thumb {
                background: #ffc89b;
                border-radius: 4px;
              }
              .group {
                li {
                  &:first-child {
                    font-weight: 700;
                    margin-top: 1.2rem;
                  }
                }
                .check {
                  height: 2.4rem;
                  display: flex;
                  align-items: center;
                  font-size: 1.6rem;
                  color: #535261;
                  margin-bottom: 1.2rem;
                  input {
                    width: 2rem;
                    height: 2rem;
                    margin-right: 0.8rem;
                  }
                  span {
                    line-height: 2.4rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .boxButton {
    display: flex;
    justify-content: center;
    padding-top: 2.4rem;
  }
}
