@mixin layout {
  background: var(--white);
  border-radius: 1.2rem;
  height: 100%;
  box-shadow: var(--box-shadow);
}
.detail {
  margin-top: 3.2rem;
  display: flex;
  height: 60.6rem;
  .left {
    width: 37rem;
    margin-right: 2.4rem;
    @include layout();
    .container {
      padding: 1.6rem;
      .item {
        margin-top: 1.2rem;
        display: flex;
        h3 {
          width: 30%;
          color: #282739;
          font-weight: 600;
          line-height: 2.4rem;
          font-size: 1.6rem;
        }
        p {
          width: 70%;
          color: #535261;
          font-weight: 400;
          font-size: 1.6rem;
        }
      }
      .bottom {
        margin-top: 1.6rem;
        .boxCheckbox {
          .item {
            display: flex;
            margin-bottom: 1.2rem;
            .group {
              width: 50%;
              font-size: 1.6rem;
              line-height: 2.4rem;
              color: #282739;
              font-weight: 600;
              display: flex;
              align-items: center;
              input {
                margin-right: 0.8rem;
                width: 2rem;
                height: 2rem;
                border: 1.5px solid #4277ff;
                border-radius: 4px;
              }
            }
            .content {
              width: 50%;
              font-size: 1.6rem;
              line-height: 2.4rem;
              .number {
                padding: 1rem;
                line-height: 4.4rem;
                border: 1.5px solid #d4d4d7;
                box-sizing: border-box;
                border-radius: 8px;
              }
              .to {
                margin: 0 1.2rem;
              }
            }
          }
          .note {
            font-size: 1.4rem;
            line-height: 2.4rem;
            margin-top: 1.2rem;
            font-size: 400;
            color: #282739;
            span {
              color: var(--red);
            }
          }
        }
      }
    }
  }
  .right {
    width: 71.8rem;
    @include layout();
    .container {
      padding: 1.6rem 2.4rem 0 2.4rem;
    }
  }
}
