.top {
  display: flex;
  .item {
    margin-right: 1.2rem;
    h3 {
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #282739;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.keyboard {
  .search {
    position: relative;
    .btn {
      position: absolute;
      right: 1.2rem;
      color: var(--orange);
      font-size: 1.6rem;
      z-index: 7;
      bottom: 1.2rem;
      background: transparent;
      cursor: pointer;
    }
  }
}
