@mixin sizeI {
  position: absolute;
  color: var(--orange);
  font-size: 1.7rem;
  top: 1.5rem;
}
@mixin input {
  width: 100%;
  height: 100%;
  border: 1.5px solid #d4d4d7;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  text-align: right;
}
.listService {
  width: 15rem;
  height: 4.4rem;
  position: relative;
  input {
    padding: 0.8rem 1.6rem;
  }
  i {
    left: 1.6rem;
  }
}
.detailService {
  margin-top: 0.4rem;
  width: 13rem;
  height: 4.4rem;
  position: relative;
  input {
    padding: 0.8rem 0.9rem;
  }
  i {
    left: 0.9rem;
  }
}
.listNumber {
  margin-top: 0.4rem;
  width: 15rem;
  height: 4.4rem;
  position: relative;
  input {
    padding: 0.8rem 1.6rem;
  }
  i {
    left: 1.6rem;
  }
}
.startDay {
  input {
    @include input();
  }
  i {
    @include sizeI();
  }
}
.endDay {
  input {
    @include input();
  }
  i {
    @include sizeI();
  }
}
