@mixin number {
  font-size: 2.4rem;
  color: var(--dark-gray);
  line-height: 3.6rem;
  font-weight: 700;
}
@mixin icon {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.1rem;
  position: relative;
}

.box {
  margin: 1.6rem 2.4rem;
  .item:last-child {
    margin-bottom: 0;
  }
  .orange {
    .circle {
      .fisrt circle:nth-child(1) {
        stroke-dashoffset: 0;
        stroke: #eaeaec;
      }
      .fisrt circle:nth-child(2) {
        stroke-dashoffset: calc(200 - (200 * 80) / 100);
        stroke: var(--orange);
      }
      .second circle:nth-child(1) {
        stroke-dashoffset: 0;
        stroke: var(--gray);
      }
      .second circle:nth-child(2) {
        stroke-dashoffset: calc(200 - (200 * 70) / 100);
        stroke: #eaeaec;
      }
    }
    .numerical {
      .icon {
        color: var(--orange);
      }
    }
    .status {
      .active {
        svg {
          color: #ffd130;
        }
      }
      .number {
        color: var(--orange);
      }
    }
  }
  .blue {
    .circle {
      .fisrt circle:nth-child(1) {
        stroke-dashoffset: 0;
        stroke: #eaeaec;
      }
      .fisrt circle:nth-child(2) {
        stroke-dashoffset: calc(200 - (200 * 76) / 100);
        stroke: var(--dark-blue);
      }
      .second circle:nth-child(1) {
        stroke-dashoffset: 0;
        stroke: var(--gray);
      }
      .second circle:nth-child(2) {
        stroke-dashoffset: calc(200 - (200 * 60) / 100);
        stroke: #eaeaec;
      }
    }
    .numerical {
      .icon {
        color: var(--dark-blue);
      }
    }
    .status {
      .active {
        svg {
          color: var(--dark-blue);
        }
      }
      .number {
        color: var(--dark-blue);
      }
    }
  }
  .green {
    .circle {
      .fisrt circle:nth-child(1) {
        stroke-dashoffset: 0;
        stroke: #eaeaec;
      }
      .fisrt circle:nth-child(2) {
        stroke-dashoffset: calc(200 - (200 * 70) / 100);
        stroke: var(--green);
      }
      .second circle:nth-child(1) {
        stroke-dashoffset: 0;
        stroke: var(--gray);
      }
      .second circle:nth-child(2) {
        stroke-dashoffset: calc(200 - (200 * 65) / 100);
        stroke: #eaeaec;
      }
      .third {
        top: 1rem;
        left: 1rem;
      }
      .third circle:nth-child(1) {
        stroke-dashoffset: 0;
        stroke: var(--pink);
      }
      .third circle:nth-child(2) {
        stroke-dashoffset: calc(200 - (200 * 55) / 100);
        stroke: #eaeaec;
      }
    }
    .numerical {
      .icon {
        color: var(--green);
      }
    }
    .status {
      .active {
        svg {
          color: var(--green);
        }
      }
      .skip {
        svg {
          color: var(--pink);
        }
      }
      .number {
        color: var(--green);
      }
    }
  }
  .item {
    align-items: center;
    width: 35.3rem;
    height: 8.3rem;
    background: #ffffff;
    box-shadow: 2px 2px 1.5rem rgba(70, 64, 67, 0.1);
    border-radius: 1.2rem;
    padding: 1.1rem 0 1.6rem 1.2rem;
    margin-bottom: 1.2rem;
    .circle {
      position: relative;
      width: 6rem;
      height: 6rem;
      svg {
        z-index: 100;
        width: 6.3rem;
        height: 6.3rem;
        position: absolute;
        circle {
          width: 100%;
          height: 100%;
          fill: none;
          stroke-width: 2px;
          stroke-linecap: round;
          transform: translate(2px, 2px);
          stroke-dasharray: 200;
          stroke-dashoffset: 200;
          stroke-linecap: round;
        }
      }
      .progress {
        font-weight: bold;
        font-size: 14px;
        color: var(--dark-gray);
        position: absolute;
        top: 2.3rem;
        left: 1.7rem;
      }
      .second {
        top: 5px;
        left: 5px;
      }
    }

    .numerical {
      margin-left: 1.2rem;
      .number {
        @include number();
      }
      .icon {
        @include icon();
        svg {
          width: 1.4rem;
          height: 1.4rem;
          position: absolute;
          left: 0;
          top: 0.35rem;
        }
        span {
          margin-left: 2rem;
        }
      }
    }
    .status {
      margin-left: 3.7rem;
      position: relative;
      .content {
        font-size: 1.2rem;
        line-height: 2.1rem;
        color: var(--gray);
        align-items: center;
        svg {
          width: 4px;
          height: 4px;
          margin-right: 4px;
        }
        .number {
          font-size: 1.4rem;
          line-height: 1.8rem;
          font-weight: bold;
          margin-left: 1rem;
        }
      }
    }
  }
}
