@mixin sizeOut {
  width: 20rem;
  height: 4.6rem;
}
@mixin sizeIn {
  width: 17.6rem;
  height: 4.6rem;
}
.boxMenu {
  width: 20rem;
  height: 81rem;
  background: var(--white);
  position: relative;
  box-shadow: 0 4px 6px rgba(219, 219, 219, 0.5);
  border-radius: 1.6rem 0 0 1.6rem;
  .brand {
    width: 8rem;
    height: 6.4rem;
    margin: 0 auto;
    margin-top: 3.2rem;
  }
  .navbar {
    width: 100%;
    margin-top: 5.4rem;
  }
  .box {
    @include sizeOut();
    position: absolute;
    bottom: 3.2rem;
    left: 1.2rem;
    .logout {
      @include sizeIn();
      display: flex;
      align-items: center;
      padding: 12px;
      background: #fff2e7;
      border-radius: 8px;
      color: var(--orange);
      font-size: 1.6rem;
      cursor: pointer;
      svg {
        width: 2rem;
        height: 2rem;
        margin-right: 1.3rem;
      }
    }
  }
}
