@mixin sizeOut {
  width: 20rem;
  height: 4.6rem;
}
@mixin sizeIn {
  width: 17.6rem;
  height: 4.6rem;
}

.active {
  background: var(--dark-orange);
  .link {
    color: var(--white);
  }
}
.items {
  position: relative;
  @include sizeOut();
  &:hover {
    background: var(--dark-orange);
  }
  .link {
    font-size: 1.6rem;
    @include sizeIn();
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 1.2rem 0;
    .systems {
      line-height: 4.6rem;
      display: flex;
      align-items: center;
    }
    &:hover {
      color: var(--white);
    }
    svg {
      width: 2rem;
      height: 2rem;
      margin-right: 0.8rem;
    }
  }
}
