.rows {
  display: flex;
  .col {
    display: inline-block;
    height: 4.9rem;
    line-height: 4.9rem;
    svg {
      width: 8px;
      height: 8px;
      margin-right: 4px;
    }
  }
}
.listDevice {
  width: 111.2rem;
  height: 49rem;
  .page {
    margin-top: 2.4rem;
  }
  .col {
    padding-left: 0.8rem;
    &:nth-child(1) {
      width: 10.3rem;
      padding-left: 1.6rem;
    }
    &:nth-child(2) {
      width: 9.9rem;
    }
    &:nth-child(3) {
      width: 13.8rem;
    }
    &:nth-child(4) {
      width: 17.1rem;
    }
    &:nth-child(5) {
      width: 14.5rem;
    }
    &:nth-child(6) {
      width: 26.8rem;
      padding-left: 1.7rem;
    }
    &:nth-child(7) {
      width: 8.2rem;
      padding-left: 1.7rem;
    }
    &:nth-child(8) {
      width: 10.6rem;
      padding-left: 1.7rem;
    }
  }
  .body {
    .col:nth-child(6) {
      line-height: 0;
      p {
        line-height: 2.1rem;
      }
      span {
        line-height: 2.1rem;
      }
    }
  }
}
.listService {
  width: 111.2rem;
  height: 49rem;
  .page {
    margin-top: 2.4rem;
  }
  .col {
    padding-left: 1.7rem;
    &:nth-child(1) {
      width: 15rem;
      padding-left: 1.6rem;
    }
    &:nth-child(2) {
      width: 22.4rem;
    }
    &:nth-child(3) {
      width: 23rem;
    }
    &:nth-child(4) {
      width: 25.3rem;
    }
    &:nth-child(5) {
      width: 12.5rem;
    }
    &:nth-child(6) {
      width: 12.5rem;
    }
  }
  .body {
    .rows {
      display: inline-block;
    }
  }
}
.detailService {
  width: 66.9rem;
  .page {
    margin-top: 1.6rem;
  }
  .col {
    padding-left: 1.7rem;
    width: 33.4rem;
  }
}
.listNumber {
  .page {
    margin-top: 2.4rem;
  }
  .col {
    padding-left: 1.7rem;
    &:nth-child(1) {
      width: 9.3rem;
      padding-left: 1.6rem;
    }
    &:nth-child(2) {
      width: 16.2rem;
    }
    &:nth-child(3) {
      width: 17.1rem;
    }
    &:nth-child(4) {
      width: 16.1rem;
    }
    &:nth-child(5) {
      width: 17.4rem;
    }
    &:nth-child(6) {
      width: 14.7rem;
    }
    &:nth-child(7) {
      width: 12rem;
    }
    &:nth-child(8) {
      width: 7.8rem;
    }
  }
}
.report {
  .page {
    margin-top: 2.4rem;
  }
  .col {
    padding-left: 1.6rem;
    position: relative;
    .filter {
      position: absolute;
      font-size: 1.6rem;
      color: var(--white);
      top: 0;
      right: 1.8rem;
      cursor: pointer;
    }
    &:nth-child(1) {
      width: 22.6rem;
    }
    &:nth-child(2) {
      width: 23.2rem;
    }
    &:nth-child(3) {
      width: 23.8rem;
    }
    &:nth-child(4) {
      width: 21.6rem;
    }
    &:nth-child(5) {
      width: 19.6rem;
    }
  }
}
.content {
  filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
  border-radius: 12px;
  display: inline-block;
  .container {
    width: 100%;
    height: 100%;
    .title {
      width: 100%;
      .rows {
        .col {
          color: var(--white);
          background: var(--orange);
          font-size: 1.6rem;
          font-weight: bold;
          &:not(:last-child) {
            border-right: 1.5px solid var(--white);
          }
          &:first-child {
            border-top-left-radius: 1.2rem;
          }
          &:last-child {
            border-top-right-radius: 1.2rem;
          }
        }
      }
    }
    .body {
      width: 100%;
      .rows {
        &:nth-child(even) {
          background: #fff2e7;
        }
        &:nth-child(odd) {
          background: var(--white);
        }
        &:last-child {
          border-bottom-left-radius: 1.2rem;
          border-bottom-right-radius: 1.2rem;
        }
        .col {
          font-size: 1.4rem;
          color: var(--drak-gray);
          &:not(:last-child) {
            border-right: 1.5px solid #ffe3cb;
          }
          .block {
            display: block;
          }
          .viewmore,
          .details,
          .update {
            text-decoration: underline;
            color: var(--dark-blue);
            line-height: 2.1rem;
            cursor: pointer;
          }
        }
        .red {
          svg {
            color: var(--red);
          }
        }
        .green {
          svg {
            color: var(--green);
          }
        }
        .blue {
          svg {
            color: var(--dark-blue);
          }
        }
        .gray {
          svg {
            color: #6c7585;
          }
        }
      }
    }
  }
  //Pagination
  .page {
    width: 100%;
    .pagination {
      display: flex;
      float: right;
      .disabled {
        pointer-events: none;
      }
      .pageItem {
        width: 3.2rem;
        height: 3.2rem;
        text-align: center;
        cursor: pointer;
        .pageLink {
          line-height: 3.2rem;
          font-size: 1.6rem;
          font-weight: 600;
          color: #a9a9b0;
        }
      }
      .active {
        background: var(--orange);
        border-radius: 4px;
        .activeLink {
          font-weight: 700;
          color: var(--white);
        }
      }
    }
  }
}
