.boxTitle {
  text-align: center;
  h3 {
    font-size: 2.2rem;
    line-height: 3.3rem;
  }
  p {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}
.boxButton {
  margin-top: 3rem;
  text-align: center;
}
