.boxTitle {
  text-align: center;
  h3 {
    font-size: 2.2rem;
    line-height: 3.3rem;
  }
  p {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}
.boxButton {
  margin-top: 3rem;
  text-align: center;
}
.boxPass {
  cursor: pointer;
  font-size: 1.6rem;
  position: absolute;
  top: 7.4rem;
  right: 1.2rem;
}
.boxConfirm {
  cursor: pointer;
  font-size: 1.6rem;
  position: absolute;
  top: 16rem;
  right: 1.2rem;
}
