.login {
  width: 144rem;
  height: 81rem;
  margin: 0 auto;
  position: relative;
  background: var(--bglogin);
}
.loginLeft {
  position: relative;
  width: calc(100% - 84.8rem);
  .boxImg {
    position: absolute;
    width: 17rem;
    height: 13.6rem;
    left: 20.8rem;
    top: 8.2rem;
  }
  .formMain {
    position: absolute;
    top: 29.3rem;
    margin: 0 auto;
    left: 9.4rem;
  }
}
.loginRight {
  width: 84.8rem;
  height: 81rem;
  position: relative;
  background: var(--white);
  .boxImg {
    position: absolute;
    width: 60.5rem;
    height: 614.06px;
    bottom: 8.3rem;
    left: 7.9rem;
  }
}
